body {
    background-color: rgb(190, 229, 216);
}
h1 {
    color:rgb(255, 255, 255);
    font: size 13px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
section {
    color: rgb(0, 0, 0);
}
.button{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    border:rgb(0, 0, 0);
    text-decoration: none;
    display:inline-block;
    margin: 4px 2px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
    padding: 0px;
}