#myVideo{
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
    
    


body {
    background-image: url(loginBackground.jpg);

   
  
}
h1 {
    margin: 0px;
    padding-top: 5px;
}
h2 {
    color: rgb(146, 143, 179);
    padding: 20px;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border:2px solid rgb(255, 255, 255);
    text-decoration: none;
    display:inline-block;
    margin: 5px 5px;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    transition-duration: 0.5s;
    border-radius: 7px;

}
.button:hover {
    background-color: rgb(0, 102, 255);
    color: rgb(255, 255, 255);
}

li {
    display: inline-block;
}
ul{
    list-style: none;
    padding: 10px;
}
section iframe {
    margin-left: 35%;


}
img {
    width: 175px;
    height:175px;
    margin-bottom: -1px;
    margin-right:-148.5px;
    
}
img.gallery {
    width: 35%;
    height: 35%;
    margin: 40px;
}
p {
    font-family:Arial, Helvetica, sans-serif;
}
p.main {
    font-size: large;
}

section.box {
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 200px;
    background-image: rgb(255, 255, 255)
}




