body {
    background-color: rgb(40, 120, 247);
    margin: 0px;
    background-image: linear-gradient(rgb(4, 13, 95),rgb(29, 28, 28));
}
h1 {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ffree-use&psig=AOvVaw1Qn259C2SjUiVIFu0-jVB1&ust=1642974432217000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLi94O2qxvUCFQAAAAAdAAAAABAN');
}
h2 {
    color: rgb(14, 6, 90);
    padding: 20px;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section.box {
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 200px;
    background: rgb(9, 48, 119);
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: -10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    border-radius: 5px;
}
section.box:hover {
    transform: translate(13px, 10px);
    border: 2px solid black;
}
.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border:2px solid rgb(255, 255, 255);
    text-decoration: none;
    display:inline-block;
    margin: 5px 5px;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    transition-duration: 0.5s;
    border-radius: 7px;

}
.button:hover {
    background-color: rgb(6, 69, 163);
    color: rgb(255, 255, 255);
}
header{
        background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ffree-use&psig=AOvVaw1Qn259C2SjUiVIFu0-jVB1&ust=1642974432217000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLi94O2qxvUCFQAAAAAdAAAAABAN');
    
}
li {
    display: inline-block;
}
ul{
    list-style: none;
    padding: 10px;
}
section iframe {
    margin-left: 35%;


}
img {
    width: 175px;
    height:175px;
    margin-bottom: -1px;
    margin-right:-148.5px;
    
}
p {
    font-family:Arial, Helvetica, sans-serif;
}
p.main {
    font-size: large;
}



.bg image {
    padding : 20px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ffree-use&psig=AOvVaw1Qn259C2SjUiVIFu0-jVB1&ust=1642974432217000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLi94O2qxvUCFQAAAAAdAAAAABAN');
}